$primary-main: #1976d2;
$primary-dark: #115293;
$primary-light: #4791db;
$primary-contrast-text: #fff;

$secondary-main: #43a047;
$secondary-dark: #2e7031;
$secondary-light: #68b36b;
$secondary-contrast-text: #000;

$dark: #212121;
$white: #fff;
$yellow: #FFEB3B;
$yellow-light: #FFF59D;
$red: #F44336;
$red-light: #EF9A9A;