.margin {
  $i: 100;
  @while $i >= 0 {
    &-top-#{$i} {
      margin-top: $i * 1px !important;
    }
    &-bottom-#{$i} {
      margin-bottom: $i * 1px !important;
    }
    &-left-#{$i} {
      margin-left: $i * 1px !important;
    }
    &-right-#{$i} {
      margin-right: $i * 1px !important;
    }
    &-#{$i} {
      margin: $i * 1px !important;
    }
    $i: $i - 10;
  }
}