.ds-andon-login-grid {
  text-align: center;
  margin-bottom: 1.75rem !important;
  &-last {
    text-align: center;
  }
}
.ds-andon-login-input div input {
  font-size: 1.25rem !important;
}
.ds-andon-login-button {
  width: 75%;
  margin-top: 1.5rem !important;
  border-radius: 10rem !important;
  height: 2.5rem !important;
  font-size: 1.1rem !important;
}

@media all and (min-width: 37.5rem) {
  .ds-andon-login-button {
    width: 50%;
  }
}