* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html, head, body {
  font-size: 16px; }

body {
  background-color: #efefef; }

.ds-hide-when-small {
  display: none !important; }

.ds-hide-when-not-small {
  display: inline-flex !important; }

@media all and (min-width: 37.5rem) {
  .ds-hide-when-small {
    display: inline-flex !important; }
  .ds-hide-when-not-small {
    display: none !important; } }

.ds-circular-progress-centered {
  width: 100%;
  text-align: center;
  margin-top: 6rem; }

.ds-space-for-fixed-footer {
  width: 100%;
  height: 3.5rem; }

.ds-color-primary-light {
  background-color: #4791db !important;
  color: #fff !important; }

.ds-color-primary-main {
  background-color: #1976d2 !important;
  color: #fff !important; }

.ds-color-primary-dark {
  background-color: #115293 !important;
  color: #fff !important; }

.ds-color-secondary-light {
  background-color: #68b36b !important;
  color: #fff !important; }

.ds-color-secondary-main {
  background-color: #43a047 !important;
  color: #fff !important; }

.ds-color-secondary-dark {
  background-color: #2e7031 !important;
  color: #000 !important; }

.ds-color-dark {
  background-color: #212121 !important;
  color: #fff !important; }

.ds-grid-page {
  margin: auto;
  width: 95%; }
  .ds-grid-page.view-content {
    margin-top: 0.5rem; }
    .ds-grid-page.view-content.app-bar-fixed {
      margin-top: 4rem; }

@media all and (min-width: 37.5rem) {
  .ds-grid-page {
    width: 85%; }
    .ds-grid-page.view-content.app-bar-fixed {
      margin-top: 4.5rem; } }

@media all and (min-width: 60rem) {
  .ds-grid-page {
    width: 75%; } }

@media all and (min-width: 80rem) {
  .ds-grid-page {
    width: 65%; } }

@media all and (min-width: 120rem) {
  .ds-grid-page {
    width: 60%; } }

.ds-app-bar-toolbar {
  padding: 0 !important; }

.ds-app-bar-menu-button {
  margin-left: -0.75rem !important;
  margin-right: 1.25rem !important; }

.ds-app-bar-title {
  flex-grow: 1; }

.ds-app-bar-drawer-toolbar .ds-app-bar-drawer-toolbar-menu {
  margin-left: -0.75rem;
  margin-right: 1.25rem; }

.ds-app-bar-drawer-list {
  min-width: 18.75rem; }

.ds-simple-card.rounded {
  border-radius: 0.5rem; }

.ds-simple-card.centered {
  text-align: center; }

.ds-number-panel-grid-item {
  text-align: center; }
  .ds-number-panel-grid-item button {
    margin-bottom: 0.5rem;
    width: 90%; }

.ds-password-dialog-button {
  border-radius: 5rem !important; }

.ds-andon-login-grid {
  text-align: center;
  margin-bottom: 1.75rem !important; }
  .ds-andon-login-grid-last {
    text-align: center; }

.ds-andon-login-input div input {
  font-size: 1.25rem !important; }

.ds-andon-login-button {
  width: 75%;
  margin-top: 1.5rem !important;
  border-radius: 10rem !important;
  height: 2.5rem !important;
  font-size: 1.1rem !important; }

@media all and (min-width: 37.5rem) {
  .ds-andon-login-button {
    width: 50%; } }

.ds-send-warning-step-0-button {
  display: block;
  width: 100%;
  height: 40vh;
  margin-bottom: 0.25rem !important;
  font-size: 5rem !important; }
  .ds-send-warning-step-0-button.alert {
    background-color: #ffeb3b; }
  .ds-send-warning-step-0-button.stopped {
    background-color: #f44336;
    color: #fff; }

button.ds-send-warning-step-1-button, button.ds-send-warning-step-2-button {
  display: block;
  width: 100%;
  height: 16vh;
  font-size: 2rem;
  margin-bottom: 0.2rem !important;
  background-color: #212121;
  color: #fff; }

button.ds-andon-send-warning-step-3-button {
  display: block;
  margin-bottom: 0.25rem !important;
  width: 100%;
  height: 8rem;
  font-size: 2rem;
  background-color: #212121;
  color: #fff; }

.ds-send-warning-step-2 {
  text-align: center; }
  .ds-send-warning-step-2-title {
    margin-bottom: 3rem !important; }
  .ds-send-warning-step-2-select {
    width: 100%;
    margin-bottom: 3rem; }
  .ds-send-warning-step-2-confirm-where {
    width: 60%;
    height: 3rem !important;
    font-size: 1.1rem !important;
    border-radius: 5rem !important;
    background-color: #388E3C !important;
    color: #fff !important; }

.ds-andon-send-warning-step-4-info {
  margin-bottom: 3rem !important; }
  .ds-andon-send-warning-step-4-info span {
    color: #555; }

#ds-andon-send-warning-mobile-stepper {
  width: 100%;
  text-align: center; }

.ds-andon-send-warning-step-4-grid-item-cancel {
  text-align: center; }
  .ds-andon-send-warning-step-4-grid-item-cancel button {
    background-color: #f44336;
    color: #fff;
    width: 50%;
    height: 3rem;
    font-size: 1rem;
    border-radius: 5rem; }

.ds-andon-send-warning-step-4-grid-item-countdown {
  text-align: center;
  margin-bottom: 2rem !important; }

.ds-andon-send-warning-step-4-result-div {
  text-align: center; }
  .ds-andon-send-warning-step-4-result-div i.success {
    font-size: 6rem;
    color: #388E3C; }
  .ds-andon-send-warning-step-4-result-div i.fail {
    font-size: 6rem;
    color: #f44336; }
  .ds-andon-send-warning-step-4-result-div h1 {
    margin-top: 1.5rem; }
  .ds-andon-send-warning-step-4-result-div a {
    height: 3rem;
    width: 30%;
    font-size: 1rem;
    border-radius: 5rem;
    margin-top: 1.5rem; }

.ds-intermediate-warning-card {
  border-radius: 0.5rem !important; }
  .ds-intermediate-warning-card h2 {
    margin-bottom: 0.8rem; }
  .ds-intermediate-warning-card-content {
    height: 8rem; }
  .ds-intermediate-warning-card-actions {
    justify-content: space-around;
    margin-bottom: 0.5rem; }
    .ds-intermediate-warning-card-actions button {
      width: 60%;
      border-radius: 10rem; }
