.container {
  margin-right: auto;
  margin-left: auto;

  width: 95%;
  max-width: 90rem;

  &.full-page {
    min-width: 98%;
    max-width: 98%;
  }

  &.appbar-fixed {
    margin-top: 4.5rem !important;
  }
}