* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html,head,body {
  font-size: 16px;
}
body {
  background-color: #efefef;
}
.ds-hide-when-small {
  display: none !important;
}
.ds-hide-when-not-small {
  display: inline-flex !important;
}
@media all and (min-width: 37.5rem) {
  .ds-hide-when-small {
    display: inline-flex !important;
  }
  .ds-hide-when-not-small {
    display: none !important;
  }
}
.ds-circular-progress-centered {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}
.ds-space-for-fixed-footer {
  width: 100%;
  height: 3.5rem;
}