input#login-input-id {
  margin-top: 2rem;
}

input#login-input-id, input#login-input-password {
  margin-bottom: 2rem;
  height: 4rem !important;
  font-size: 2rem !important;
}

button.login-input-confirm {
  width: 60%;
  height: 4rem;
  font-size: 2rem;
}
