input#home-input-id {
  height: 6rem !important;
  text-align: center;
  font-size: 3rem !important;
}

button.home-input-button {
  width: 100%;
  height: 10vh;
  font-size: 2.5rem;
}

button.home-confirm-button, button.home-erase-button {
  width: 100%;
  height: 10vh;
  font-size: 1.5rem;
}
