.ds-hide-when-small {
  display: none !important;
}
.ds-hide-when-not-small {
  display: inline-flex !important;
}
@media all and (min-width: 37.5rem) {
  .ds-hide-when-small {
    display: inline-flex !important;
  }
  .ds-hide-when-not-small {
    display: none !important;
  }
}